# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV / SECRETS
# =========================
.env
.env.local
.env.*.local

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# =========================
# NODE / FRONTEND
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


