# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
pip-wheel-metadata/
.ipynb_checkpoints/
*.log

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
dist-ssr/
.vite/
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# ENV FILES (IMPORTANT)
# =========================
.env
.env.*

# =========================
# EDITORS
# =========================
.vscode/
.idea/
